# Build outputs
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# APK unzip artifacts (used for extracting libaw_server.so)
apk unzip/

# Keep the release APK
!mobile/build/outputs/apk/debug/mobile-debug.apk
